@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Educational game</h1>
</div>

<div class="row">
    <div class="col-md-8">
        @*<h2>Please, Choose a button.</h2>*@
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <button type="submit" onclick="location.href = '@Url.Action("Index", "Color")'" class="btn btn-primary" style="width:100%">
            <h2>Color game</h2>
            <p>Learn the name of the colors </p>
            <p> </p>
        </button>
    </div>
    <div class="col-md-4">
        <button type="submit" onclick="location.href = '@Url.Action("Index", "Pictures")'" class="btn btn-primary" style="width:100%">
            <h2>Animal names</h2>
            <p>Learn the name of different animals</p>
        </button>
    </div>

    <div class="col-md-4">
        <button type="submit" onclick="location.href = '@Url.Action("Test", "Punctuations")'" class="btn btn-primary" style="width:100%">
            <h2>Text punctuation</h2>
            <p>Learn where to put the punctuation</p>
        </button>
    </div>
    @*<div class="col-md-3">
        <button type="submit" onclick="location.href = '@Url.Action("Index", "Scores")'" class="btn btn-primary" style="width:100%">
            <h2>Score</h2>
            <p>See the scores of the games</p>
        </button>
    </div>*@
</div>
<div><p>  </p></div>
<div class="row">
    <div class="col-md-4">
        <button type="submit" onclick="location.href = '@Url.Action("Index", "Word")'" class="btn btn-primary" style="width:100%">
            <h2>Word</h2>
            <p>Learn different words</p>
        </button>
    </div>
    <div class="col-md-4">
        <button type="submit" onclick="location.href = '@Url.Action("Index", "Calculus")'" class="btn btn-primary" style="width:100%">
            <h2>Calculus</h2>
            <p>Learn caclulus</p>
        </button>
    </div>
    <div class="col-md-4">
        <button type="submit" onclick="location.href = '@Url.Action("Index", "Scores")'" class="btn btn-primary" style="width:100%">
            <h2>Score</h2>
            <p>See the score of the game</p>
        </button>
    </div>

</div>
