@using Assignment7.Models

@model IEnumerable<Color>

@{
    ViewBag.Title = "Colors";
}

<h2>List of colors</h2>

@{ if (ViewBag.Score != null)
 {
    <h4>Last score: @ViewBag.Score.AmountOfRightAnswers / @ViewBag.NbTests</h4>
 }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="margin:auto; position: relative">
                <span style="position:absolute; top:50%; font-size:1.5em">@Html.DisplayName(item.Name)</span>
            </td>
            <td>
                <div style="width: 200px; height: 100px; background-color: @item.Name"></div>
            </td>
        </tr>
    }

</table>

<div class="form-group">
    <div class="col-md-10">
        <span class="input-group-btn">
            <button class="btn btn-default" onclick="location.href = '@Url.Action("Test")'" />Let's have a try!
        </span>
    </div>
</div>
<div>
    @Html.ActionLink("Back to start", "Index", "Main")
</div>

@*<div class="col-md-offset-2 col-md-10" style="height:20px">
    </div>*@




